doctype html

html
    head
    
    body
        include components/header.pug
            //- body start here
            h1 MAIN Content
            //- body end here
        include components/footer.pug